.speech{
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: black;    
}

.stagedirections
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: green;
    color: black;
}

 
.name{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black; 

}

.hover:hover{
    background-color: blue;
    color: yellow;

}

.VERA{
    color: cyan;
}

.CONSPS{
    color: blueviolet;

}

.PRINCEPAUL{

    color: chocolate;
}

.PRES{
    color: darkgreen;
}

.table{

    border-style:groove;
    border-color:black ;
    text-align:left;
    margin: 40px;
}

tr:nth-child(even) {background-color:lightblue}

.marginPadding{

    border-style: double;
    border-color: red;
    padding:  5px;    

}

.mouse:hover{

    text-shadow: 3px 4px red;
    border-style:double;
    border-color: black;
    filter: blur(0.7px);

}

